		<div class="container" id="actions">
			<div class="span-24 last" style="margin-top: 10px;">
				<p>
				<a href="index.php" class="ui-state-default ui-corner-all button"><span class="ui-icon ui-icon-arrowreturnthick-1-w"></span>主題列表</a>
				</p>
			</div>
		</div>
		
		<div class="container" id="topics">
			<div class="span-6">&nbsp;</div>
			<div class="span-12" style="margin-top: 10px;">
				<h1>發表主題</h1>
				<form action="newtopic.php" method="post">
				<p>標題 <input type="text" name="title"></p>
				<p>內容<br/><textarea name="content"></textarea></p>
				<p><button class="ui-widget ui-state-default"><span class="ui-icon ui-icon-pencil"></span>發表文章</button></p>
				</form>
			</div>
			<div class="span-6 last">&nbsp;</div>
		</div>